* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.comment-main-heading {
  text-align: left;
  width: 100%;
}
.main-comment-image {
  width: 95%;
  margin: 15px 0px 15px 0px;
}
.comment-input-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}
.comment-section-paragraph {
  font-weight: bold;
  color: #475569;
  padding: 15px 0px 15px 0px;
}
.input-style {
  line-height: 20px;
  padding: 5px;
  outline: none;
  border: 0.5px solid #cbd2d9;
}
.text-area-input {
  height: 100px;
  margin-bottom: 20px;
}
.add-comment-button {
  background-color: #0284c7;
  color: white;
  padding: 10px 20px 10px 20px;
  border: none;
  align-self: flex-start;
  border-radius: 10px;
  cursor: pointer;
}
.horizontal-line-style {
  width: 100%;
  margin: 20px 0px 20px 0px;
  border: 0.5px solid #dee0e3;
}
.show-comment-list-section {
  width: 100%;
}
.comment-count {
  color: #1e293b;
  margin-bottom: 30px;
  font-size: 20px;
}
.comment-count-number {
  background-color: #0284c7;
  color: white;
  padding: 2px 8px 2px 8px;
  border-radius: 5px;
}
.list-of-comments-container {
  list-style: none;
  width: 100%;
}
@media all and (min-width: 700px) {
  .input-content-container-with-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .main-comment-image {
    order: 10;
    width: 40%;
    margin: 0px 100px 0px 100px;
  }
}
